.Home .lander {
    padding: 80px 0;
    text-align: center;
}
  
.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  background-color: #17181c;
  color: #bcb7b0;
}

.Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .notes p {
  color: #bcb7b0;
}

.Home .notes {
  background-color: #17181c;
  color: #bcb7b0;
}

.list-group-item {
  border-color: #101010;
  background-color: #17181c;
  
}

.list-group .list-group-item:hover{ 
  background-color: #080808;
}

.list-group-item > h4 {
  color: #bcb7b0;
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
  color: #bcb7b0;
}

.Home .lander div {
  padding-top: 20px;
}

.Home .lander div a:first-child {
  margin-right: 20px;
}

