
.padding{
   padding-top: 10px;
    text-indent: 20px;
    padding-bottom: 10px; 
}

.income {
    color: rgb(168, 234, 183);
    background-color: rgb(23, 54, 30);
    border-color: rgb(41, 99, 54);
}

.expense {
    color: rgb(230, 155, 162);
    background-color: rgb(64, 11, 16);
    border-color: rgb(129, 23, 34);
}

.total {
    padding-top: 20px;
    width: 100%;
}

.list-group {
    padding-left: 0;
    margin-bottom: 0px;
    vertical-align: top;

}

.list-group .list-group-item {
    color: #bcb7b0;
    padding: 0;
}

.alignleft {
    float: left;
    padding: 10px;
}
.alignright {
    float: right;
    padding: 10px;
}

.center {
    text-align: center;
}


.rowEntryTable{
    width:100%; 
    margin-bottom: 0;
}

/* Define the default color for all the table rows */
.rowEntryTable tr{
    text-align: center;
    background-color: #17181c;
    margin: 0;
}

.rowEntryTable td{
    text-align: center;
}
/* Define the hover highlight color for the table row */
.rowEntryTable tr:hover {
    background-color: #ffff99;
}

.balanceSheetTable{
    width:100%; 
}

.balanceSheetTable td{
    vertical-align: top;
}

.totalTable {
    text-align: center;
    margin: 0;
}

.totalTable tr{
    text-align: center;
    background-color: #17181c;
    margin: 0;
}

.summaryTable {
    text-align: center;
    margin: 0;
}

.summaryTable tr{
    text-align: center;
    background-color: #17181c;
    margin: 0;
}
